.App {
  text-align: center;
  background-image: var(--gradient);
  background-position: fixed;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cinza100);
}

.App-header {
  font-size: calc(10px + 2vmin);
}